
<div class="m-auto" style="width:80%">
  <div class="row mx-5">
    <p class="mt-2" style="font-size: 30px;margin:auto">Slots</p>
  </div>
  <hr>
  <div class="row">
    <div class="col-9">
      <h4>Doctors List and Slots By Date</h4>
    </div>
    <div class="col-3">
      <input type="date" class="form-control" onkeydown="return false" [(ngModel)]="selected_date" (change)="get_staff_slots()">
    </div>
  </div>
  <div class="row">
    <div class="row" *ngFor="let staff of staff_obj" [id]="staff.staff_id">
      <div class="col-12">
      <h5 class="text-success">{{staff.staff_name}}</h5>
      <button class="btn btn-success m-2" *ngFor="let slot of staff.slots" data-toggle="modal" data-target="#exampleModalCenter" (click)="slotBooking(slot,staff.staff_name)">{{slot}}</button>
    </div>
  </div>

</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <label>Patient Name</label>
       <input type="text" [(ngModel)]="patient_name" placeholder="name" class="form-control" >
       <span class="text-danger" *ngIf="name_error">Enter Patient Name with atleast 3 characters</span>
       <div class="row py-2">
         <div class="col-6">
           <label>Patient age</label>
           <input type="number" max="110" class="form-control" placeholder="Age" [(ngModel)]="patient_age" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57">
           <span class="text-danger" *ngIf="age_error">Enter valid patient age </span>
          </div>
         <div class="col-6">
           <label>Temperature</label>
           <input type="number" class="form-control" placeholder="Temperature" [(ngModel)]="patient_temprature" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57">
           <span class="text-danger" *ngIf="temprature_error">Enter valid Temperature</span>
          </div>
       </div>
       <label>Mobile Number</label>
       <input type="number" class="form-control" placeholder="mobile number" [(ngModel)]="patient_mobile" onkeypress="return event.keyCode === 8 || event.charCode >= 48 && event.charCode <= 57">
       <span class="text-danger" *ngIf="mobile_error">Enter Valid Mobile Number</span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="closeModel">Close</button>
        <button type="button" class="btn btn-primary" (click) = "confirmBooking()">Book Slot</button>
      </div>
    </div>
  </div>
</div>
