<div class="m-auto" style="width:80%">
  <div class="row mx-5">
    <p class="mt-2" style="font-size: 30px;margin:auto">Appointments</p>
  </div>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Temperature</th>
        <th>Mobile Number</th>
        <th>Doctor Name</th>
        <th>Slot Time</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <th>{{booking.patient_name}}</th>
        <td>{{booking.patient_temperature}}</td>
        <td>{{booking.patient_mobile}}</td>
        <td>{{booking.doctor_name}}</td>
        <td>{{booking.selected_slot}}</td>
      </tr>
    </tbody>
  </table>
</div>

