<div class="m-1">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLink="/home">
          <a class="nav-link pointer">Home</a>
        </li>
        <li class="nav-item" routerLink="/appointments">
          <a class="nav-link pointer">Appointments</a>
        </li>
        <li class="nav-item" routerLink="/bookings">
          <a class="nav-link pointer">Bookings</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

