<div class="row mx-5">
  <h1 class="text-primary pointer" (click)="show_add_staff = true">Add Staff</h1>
  <h1 class="ml-5 text-primary pointer" (click)="getStaffList()">Add Slot Time to Staff</h1>
</div>


<!--     Adding staff slots      -->
<div class="row mx-5 w-50 m-auto mt-4" *ngIf="!show_add_staff">
  <div class="col-6">
    <label class="mt-3">Select Date:</label>
    <input type="date" [(ngModel)]="selected_date" class="form-control" onkeydown="return false">
    <label class="mt-3">Select Start Time</label>
    <input type="time" class="form-control" [(ngModel)]="start_time" onkeydown="return false" >
  </div>
  <div class="col-6">
    <label class="mt-3">Select Doctor</label>
    <select class="form-control" aria-label="Default select example" [(ngModel)]="selected_doctor_id" (change)="selectedDoctorName()">
      <option selected>Select Doctor</option>
      <option [value]="staff._id" *ngFor="let staff of staff_details">{{staff.name}}</option>
    </select>
    <label class="mt-3">Select End Time</label>
    <input type="time" class="form-control" [(ngModel)]="end_time" onkeydown="return false">
  </div>
  <button class="btn btn-success mt-3 ml-3" (click) = "addSlot()">Add Slot</button>
</div>



<!--   adding new doctor section   -->
<div class="row w-50 m-auto" *ngIf="show_add_staff">
  <label>Doctor Name:</label>
  <input type="text" [(ngModel)]="doctor_name" class="form-control"><br>
  <button class="btn btn-success mt-3 ml-3" (click) = "addStaff()">Add Staff</button>
</div>
